.window-frame,.window-frame:backdrop{box-shadow:none;border-style:none;border-radius:0;margin:0;padding:0}
.titlebar{border-radius:0;}
window decoration {margin:0;}
#vim-main-window {background-color:#161616}
